<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>News-Slider</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Navigation Bar -->
  <nav>
    <a href="/about">About</a>
  </nav>
  
  <div class="container">
    <h1>News Bias Aggregator</h1>
    <div style="text-align: center;">
      <i>By: Daniel Ramirez</i>
    </div>
    <div id="sliderContainer">
      <label for="biasSlider">Political Leaning:</label><br>
      <input type="range" id="biasSlider" min="0" max="4" value="2" step="1">
      <div id="sliderValue">Centrist / Minimal partisan</div>
    </div>
    <div id="topic-buttons" class="topic-container"></div>
    <div id="headlines"></div>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
